<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/awesomplete.css">
    <script src="../js/awesomplete.js"></script>
</head>

<body>
    <input data-list="CSS, JavaScript, HTML, SVG, ARIA, MathML" id='myinput' />
    <script>
        var input = document.getElementById("myinput");
        new Awesomplete('input', {
            filter: function (text, input) {
                return Awesomplete.FILTER_CONTAINS(text, input.match(/[^,]*$/)[0]);
            },

            item: function (text, input) {
                return Awesomplete.ITEM(text, input.match(/[^,]*$/)[0]);
            },

            replace: function (text) {
                var before = this.input.value.match(/^.+,\s*|/)[0];
                this.input.value = before + text; // + ", ";
            }
        });
    </script>
</body>

</html>